* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto', sans-serif;
}

p {
	font-size: 1.1rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: bold;
}

.header {
	display: flex;
	padding: 1em 5em;
	background: #1F2937;
	color: #F9FAF8;
}

.header-logo {
	flex: 1;
	padding-right: 2em;
}

.nav-menu {
	display: flex;
	list-style-type: none;
	justify-content: right;
	align-items: center;
	color: #E5E7EB;
	font-size: 1.1rem;
}

.nav-menu li {
	padding-right: 2em;
}

.intro {
	display: flex;
	background: #1F2937;
	color: #E5E7EB;
	padding: 7em;
	padding-right: 6em;
}

.signup p{
	color: #E5E7EB;
}

.intro div {
	flex: 1;
}

.image {
	display: flex;
	background-color: #6D747D;
}

.image p {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.signup-btn {
	padding: .5em 2em;
	border-radius: 5px;
	border-width: 2px;
}

#btn-top {
	background-color: #3882F6;
	margin-top: 1em;
	border: none;
}

.info {
	display: flex;
	padding: 0em 5em 5em 5em;
	gap: 3em;
	justify-content: center;
}

.info-header {
	display: flex;
	justify-content: center;
	padding: 1em;
}

.infosec {
	max-width: 181px;
}

.infobox {
	height: 175px;
	width: 175px;
	border: 3px solid #3882F6;
	border-radius: 10px;
}

.infotext {
	padding-top: 5px;
	color: #4B5563;
	text-align: center;
	font-size: 1.1rem;
}

.quote {
	padding: 5em 10em;
	background-color: #E5E7EB;
}

.quotetext {
	font-size: 2.5rem;
	font-style: italic;
	color: #1F2937;
}

.quotename{
	text-align: right;
	font-weight: bold;
	font-size: 1.5rem;
}

.call {
	padding: 5em;
}

.action {
	background-color: #3882F6;
	border-radius: 10px;
	padding: 3em 7em;
	display: flex;
	align-items: center;
}

.calltxt {
	color: #FFFFFF;
	font-size: 1.5em;
}

.signuptxt {
	color: #D0DAEC;
}

#btn-bottom-container {
	margin-left: auto;
}

#btn-bottom {
	background-color: #3882F6;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.footer {
	color: #FFFFFF;
	background-color: #1F2937;
	text-align: center;
	padding: 2.5em;
}
