* {
	margin: 0;
	padding: 0;
	border: 1px solid red;
}

html {
	font-family: 'Roboto', sans-serif;
}

p {
	font-size: 1.1rem;
}

h1 {
	font-size: 3rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: bold;
}

.header {
	display: flex;
	padding: 1em 5em;
	background: #1F2937;
	color: #F9FAF8;
}

.header-logo {
	flex: 1;
	padding-right: 2em;
}

.nav-menu {
	display: flex;
	list-style-type: none;
	justify-content: right;
	align-items: center;
	color: #E5E7EB;
	font-size: 1.1rem;
}

.nav-menu li {
	padding-right: 2em;
}

.intro {
	display: flex;
	background: #1F2937;
	color: #E5E7EB;
	padding: 7em;
	padding-right: 6em;
}

.signup p{
	color: #E5E7EB;
}

.intro div {
	flex: 1;
}

.image {
	display: flex;
	background-color: #6D747D;
}

.image p {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.signup-btn {
	background-color: #3882F6;
	margin-top: 1em;
	padding: .5em 2em;
	border-radius: 5px;
}
